{
  "trailingComma": "none",
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "importOrder": ["^react(.*)", "<THIRD_PARTY_MODULES> ", "@/(.*)", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
