$project-prefix-cls: #{$prefix}-project;

.#{$project-prefix-cls} {
  width: 376px;
  padding: 20px 16px;
  border-radius: 16px;
  border: 1px solid $crEAEDF5;
  cursor: pointer;
  background: $crff;
  @include dz();

  &:hover {
    box-shadow: 0 2px 4px -2px rgba($cr777E90, 0.25);
  }

  dl {
    display: flex;
    align-items: center;

    dt {
      img {
        width: 110px;
        height: 110px;
        border-radius: 16px;
        margin-right: 16px;
      }
    }

    dd {
      display: flex;
      flex-direction: column;

      div:nth-of-type(1) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          width: 180px;
          @include fs(16px, 500);
          @include oneline(1);
        }

        i {
          display: block;
          width: 20px;
          height: 20px;
          cursor: pointer;
          background: url($res + 'star.svg');

          &.active {
            background: url($res + 'star-fill.svg');
          }
        }
      }

      div:nth-of-type(2) {
        color: $cr93989A;
        margin: 10px 0;
        @include moreLine(2, 36px);
        @include fs(12px, 400);
      }

      span {
        color: $cr777E90;
        @include fs(12px, 400);

        em {
          color: $cr353945;
          padding-left: 4px;
          font-weight: 600;
        }
      }
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    .amount {
      @include fs(16px, 500);
    }

    button {
      width: 100px;

      &:first-child {
        margin-right: 16px
      }
    }
  }
}