.xyz-nft-card {
  cursor: pointer;
  overflow: hidden;
  padding: 8px;
  border: 2px solid #eee;
  border-radius: 12px;
  box-shadow: 0 4px 0 0 #eee;
  .tr(0.1s);

  &:hover {
    .colorful;
    box-shadow: 0 4px 0 0 #BE87F4;
  }

  dl {
    dt {
      position: relative;

      img {
        object-fit: cover;
        border-radius: 12px;
      }

      .tag {
        width: 24px;
        height: 24px;
        left: 8px;
        bottom: 8px;
        position: absolute;
        border-radius: 100%;
      }

      .mask {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        position: absolute;
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        .ac;
        .tr(0.15s);
      }

      &:hover {
        .mask {
          opacity: 1;
        }
      }
    }

    dd {
      .ac;
      padding: 4px;
      margin-top: 6px;
      flex-wrap: wrap;
      justify-content: space-between;

      &.big {
        padding: 0;

        section:first-child {
          flex: 1;
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 8px;
          padding:0 4px;

          span:first-child {
            color: lighten(@cr232323, 40%);
            margin: 2px 0 2px;
            font-weight: 500;
            justify-content: space-between;
            .ac;

            label {
              overflow: hidden;
              white-space: nowrap;
              margin-right: 16px;
              text-overflow: ellipsis;
            }
          }

          span:last-child {
            font-weight: 500;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        section:last-child {
          width: 100%;
          display: flex;
          padding: 8px 12px;
          background: #f2f3f5;
          border-radius: 8px;

          div {
            flex: 1;
            display: flex;
            flex-direction: column;

            &:last-child {
              text-align: right;
            }

            span:first-child {
              color: lighten(@cr232323, 35%);
              margin-bottom: 4px;
              .fs(12px, 500);
            }

            span:last-child {
              .fs(12px, 700)
            }
          }
        }
      }

      &.small {
        .xyz-nft-card-info {
          display: flex;
          margin-right: 16px;
          flex-direction: column;

          span:first-child {
            .fs(14px, 500);
            max-width: 150px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          span:last-child {
            color: lighten(@cr232323, 25%);
            .fs(12px, 500);
          }
        }

        .more-btn {
          flex: 1;
          text-align: right;
        }
      }
    }
  }

  &-loading {
    overflow: hidden;
    padding: 8px;
    border: 2px solid #eee;
    border-radius: 12px;
    box-shadow: 0 4px 0 0 #eee;

    .img-loading {
      margin-bottom: 10px;

      .arco-skeleton-text-row {
        width: 202px !important;
        height: 202px;
        border-radius: 12px;
      }
    }

    .info-loading {
      padding: 4px;

      .arco-skeleton-text-row {
        width: 100% !important;
        height: 12px;
        border-radius: 4px;

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}

.xyz-nft-card-menu {
  padding-right: 2px;
  max-height: 100px;
  overflow: hidden auto;

  li {
    height: 24px;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    font-size: 12px;
    align-items: center;
    border-radius: 4px;
    .tr(0.1s);

    &:hover {
      background: #f2f3f5;
    }
  }
}