$btn-prefix-cls: #{$prefix}-btn;

@mixin btn-shape($shape) {
  .#{$btn-prefix-cls}-shape-#{$shape} {
    background: url($res + 'btn-#{$shape}.png') transparent;
    background-size: 100% 100%;
  }
}

.#{$btn-prefix-cls} {
  @include dz();
  @include ns();
  color: $crff;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-weight: 700;
  position: relative;
  background: transparent;

  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-type {
    &-default {
      font-size: 14px;
      background: $primary;

      &:hover, &:focus {
        background: lighten($primary, 10%);
      }

      &.loading {
        cursor: default;
      }
      &.disabled {
        background: lighten($primary, 10%);
        color: rgba($crff, .5);
      }
    }

    &-outline {
      color: $cr23262F;
      background: transparent;
      border: 2px solid $crE6E8EC;

      &:hover, &:focus {
        background: lighten($crE6E8EC, 5%);
      }

      &.loading {
        cursor: default;
      }
      &.disabled {
        background: lighten($crE6E8EC, 5%);
        color: rgba($cr23262F,.25);
      }
    }
  }

  &-icon {
    margin-right: 4px;
  }

  &-size {
    &-default {
      height: 40px;
      padding: 0 20px;
      font-size: 14px;
      border-radius: 40px;

      img {
        width: 20px;
      }
    }

    &-large {
      height: 48px;
      padding: 0 24px;
      font-size: 16px;
      border-radius: 48px;

      img {
        width: 24px;
      }
    }

    &-small {
      height: 32px;
      padding: 0 10px;
      font-size: 12px;
      border-radius: 32px;

      img {
        width: 16px;
      }
    }
  }

  &-shape-circle {
    padding: 0;

    .#{$btn-prefix-cls}-icon {
      margin-right: 0
    }

    &.#{$btn-prefix-cls}-size {
      &-default {
        width: 40px;
      }

      &-large {
        width: 48px;
      }

      &-small {
        width: 32px;
      }
    }
  }

  &-shape-left-ugly,
  &-shape-left-ugly-light {
    &:hover, &:focus {
      background: transparent;
    }

    &.disabled {
      background: lighten($primary, 12%);
      color: rgba($crff, .5);
    }

    &.#{$btn-prefix-cls}-size-default {
      border-radius: 4px 40px 40px 4px;
    }

    &.#{$btn-prefix-cls}-size-small {
      border-radius: 4px 32px 32px 4px;
    }
  }

  &-shape-left-ugly-light {
    color: $primary;
  }

  &-shape-right-ugly,
  &-shape-right-ugly-light, {
    &.#{$btn-prefix-cls}-size-default {
      border-radius: 40px 4px 4px 40px;
    }

    &.#{$btn-prefix-cls}-size-small {
      border-radius: 32px 4px 4px 32px;
    }
  }

  &-shape-right-ugly-light {
    color: $secondary;
  }
}

@include btn-shape(right-ugly);
@include btn-shape(right-ugly-light);
@include btn-shape(left-ugly);
@include btn-shape(left-ugly-light);