$data-item-prefix-cls: #{$prefix}-data-item;

.#{$data-item-prefix-cls} {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  height: 24px;
  color: $cr23262F;
  font-weight: 500;

  label {
    color: $cr777E90;
    font-weight: 400;
  }

  &-group {
    display: flex;
    flex-direction: column;
    .#{$data-item-prefix-cls}:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &-divider {
    height: 1px;
    margin-bottom:10px;
    background: $crE6E8EC;
  }
}
