$drop-down-prefix-cls: #{$prefix}-drop-down;

.#{$drop-down-prefix-cls} {
  position: relative;

  &-motion-div {
    overflow: hidden;
    position: absolute;
    left: 0;top:36px;
    z-index: 1;
  }

  &-inner {
    width: 200px;
    padding: 4px;
  }

  &-items {
    padding: 10px;
    border-radius: 12px;
    box-sizing: content-box;
    background: $crff;
    box-shadow: 0 2px 4px 0 rgba($cr777E90, 0.35);
    //box-shadow: 0 4px 4px -4px rgba($cr777E90, 0.25);
    max-height: 200px;
    overflow: hidden auto;

    ul {
      li {
        height: 40px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 8px;
        font-size: 14px;
        @include dz(0.1s);

        &:hover {
          background: rgba($cr777E90, 0.1);
          //color: rgba($cr23262F, 0.75);
        }

        &.active, &.active:hover {
        }

        a {
          color: inherit;
        }
      }
    }
  }
}