.#{$prefix}-input {
  .arco-input-inner-wrapper {
    border: 2px solid $crE6E8EC;
    background: inherit;

    input {
      @include fs(14px, 400);

      &::placeholder {
        color: $cr777E90 !important;;
      }
    }
  }

  .arco-upload-trigger {
    width: 340px;
    height: 180px;
    border-radius: 16px;
    background: $crf4f5f6;
    @include fCenter();
  }

  .arco-upload-list {
    &-remove-icon {
      width: 32px;
      height: 32px;
      margin: 0 !important;
      display: flex;
    }

    &-item-picture {
      width: 340px;
      height: 180px;
      border-radius: 16px;
      background-color: $crf4f5f6;
    }

    &-item-picture-mask {
      background: transparent;
      display: flex;
      justify-content: flex-end;
    }

    &-item-picture-operation {
      width: 32px;
      height: 32px;
      display: flex;
      margin: 10px 10px 0 0;
    }

    &-reupload-icon,
    &-item-picture-error-tip {
      display: none
    }
  }

  .arco-select-single {
    .arco-select-arrow-icon {
      @include dz();
    }

    &.arco-select-open {
      .arco-select-arrow-icon {
        @include xz(180);
      }
    }

    .arco-select-view {
      height: 48px;
      border: 2px solid $crE6E8EC;
      padding: 8px 8px 8px 16px;
      border-radius: 12px;
      background: inherit;
    }
  }

  .arco-input {
    height: 48px;
    border: 2px solid $crE6E8EC;
    background: inherit;
    border-radius: 12px;
    @include fs(14px, 400);

    &::placeholder {
      color: $cr777E90 !important;;
    }
  }

  .arco-picker {
    width: 100%;
    height: 48px;
    border: 2px solid $crE6E8EC;
    background: inherit;
    border-radius: 12px;
    @include fs(14px, 400);

    .arco-picker-prefix {
      font-size: 20px;
    }

    .arco-picker-suffix {
      display: none
    }
  }
}

.arco-select-popup {
  border: 2px solid $crE6E8EC;
  padding: 8px;
  border-radius: 12px;
  background: $crFCFCFD;
  box-shadow: 0 64px 64px -48px rgba(26, 47, 72, 0.12);

  .arco-select-option {
    line-height: 40px;
    background-color: inherit;

    &:hover {
      border-radius: 8px;
      background-color: $crf4f5f6;
    }

    &-selected {
      color: $primary;
    }
  }
}

.arco-form-label-item > label {
  color: $crB1B5C3;
  @include fs(12px, 700);
}

.arco-picker-date-value {
  width: 32px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 15, 53, 0.05);
}

.arco-picker-cell-selected {
  .arco-picker-date-value {
    padding: 0 6px;
    border-radius: 4px;
    background-color: $primary;
  }

  .arco-picker-cell-today::after {
    background-color: $primary;
  }
}

.arco-btn-text:not(.arco-btn-disabled) {
  color: $primary;
}

.arco-btn-primary:not(.arco-btn-disabled) {
  border-radius: 24px;
  background-color: $primary;
}

.arco-picker-container {
  border: none;
  border-radius: 12px;
  box-shadow: 0 16px 120px -42px rgba(26, 47, 72, 0.40);
}

.arco-panel-date-inner {
  width: 300px;
}