.#{$prefix}-stepper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  font-size: 16px;
  font-weight: 500;

  &-add {
    &:after {
      @include xz(90);
    }
  }

  label {
    color: $cr23262F;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 500;
  }

  button {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    background: $primary;
    @include dz();

    &:before,
    &:after {
      content: '';
      width: 12px;
      height: 2px;
      border-radius: 1px;
      background: $crff;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -6px;
      margin-top: -1px;
      @include dz();
    }

    &:hover {
      background: lighten($primary, 10%);
    }

    &:disabled,
    &:disabled:hover {
      cursor: default;
      opacity: .5;
      background: $crE6E8EC;

      &:before, &:after {
        background: $cr777E90;
      }
    }
  }
}
