.#{$prefix}-account-options {
  em {
    width: 100%;
    display: inline-flex;
    height: 1px;
    background: $crEAEDF5;
  }

  img:not(.#{$prefix}-btn-icon) {
    width: 16px;
    margin-right: 8px;
  }

  ul > li:nth-of-type(3) {
    height: 18px;
    &:hover {
      cursor: default;
      background: none;
    }
  }

  .#{$prefix}-drop-down-motion-div {
    top: 44px;
  }
}