$crff: #fff;
$cr00: #000;
$secondary: #F6944D;
$primary: #3772FF;
$emphasize: #FF3434;
$cr242634: #242634;
$cr23262F: #23262F;
$cr93989A: #93989A;
$cr777E90: #777E90;
$crFCFCFD: #FCFCFD;
$cr353945: #353945;
$crE6E8EC: #E6E8EC;
$crEAEDF5: #EAEDF5;
$crB1B5C3: #B1B5C3;
$crE4E8EC: #E4E8EC;
$crE9EDF6: #E9EDF6;
$cr757E92: #757E92;
$cr00D256: #00D256;
$crf4f5f6: #f4f5f6;

.primary {
  color: $primary
}

.secondary {
  color: $secondary
}

