.#{$prefix}-discover {
  background: url($res + 'hot-bg.png') center;
  background-size: 100% 100%;

  &-inner {
    padding-bottom: 60px;
    @extend .web-container;

    h1 {
      padding: 100px 0 60px;
      @include fs(40px, 700);
    }
  }

  &-content {
    position: relative;

    .btn, .select {
      top: -8px;
      position: absolute;
    }

    .btn {
      right: 0;
    }

    .select {
      left: 0;
    }
  }

  &-tabs {
    .react-tabs__tab-list {
      margin-bottom: 72px;
      gap: 12px;
      @include fCenter();

      .react-tabs__tab {
        height: 28px;
        color: $cr777E90;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 6px 12px;
        @include dz();
        @include fs(14px, 700);

        &--selected {
          color: $crff;
          background: $cr353945;
          border-radius: 100px;
        }
      }
    }

    .react-tabs__tab-panel {
      display: none;

      &.react-tabs__tab-panel--selected {
        display: block;
      }
    }
  }

  &-list-wrap {
    .load-more {
      text-align: center;
    }

    .#{$prefix}-data-table-wrap {
      .row {
        &.disabled {
          img {
            opacity: 0.25
          }
        }

        &-content {
          width: 25%;
        }
      }

      .#{$prefix}-tag {
        margin-right: 10px
      }

      .#{$prefix}-data-table-header {
        padding-top: 0;
        span {
          width: 25%;
        }
      }
    }

    .#{$prefix}-data-cards-wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 32px 24px;
      padding-bottom: 32px;
    }

  }
}