$discover-options-prefix-cls: #{$prefix}-discover-options;

.#{$discover-options-prefix-cls} {
  width: 194px;

  .open {
    .#{$discover-options-prefix-cls}-entry {
      img {
        @include xz(180);
      }
    }
  }

  &-entry {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 194px;
    border: 2px solid $crE6E8EC;
    padding: 8px 8px 8px 16px;
    border-radius: 12px;
    @include ns;

    img {
      width: 32px;
      @include dz();
    }

  }

  .#{$prefix}-drop-down-motion-div {
    top: 56px;left:-3px;
  }
}