.#{$prefix}-footer {
  &-wrap {
    background: $crff;

    hr {
      border: none;
      height: 2px;
      background: rgba($crE6E8EC, .5);
    }
  }

  &-inner {
    //padding-top: 80px;
    @extend .web-container;

    hr {
      border: none;
      height: 1px;
      background: $crE6E8EC;
    }

    .top {
      display: flex;
      padding-bottom: 48px;

      .slogan {
        flex: 1;
        margin-right: 32px;
        @include fs(24px, 400);

        img {
          width: 120px;
          height: 30px;
          margin-bottom: 30px;
        }
      }

      .medias {
        display: flex;

        dl {
          min-width: 192px;

          dt {
            margin-bottom: 40px;
            @include fs(16px, 500);
          }

          dd {
            display: flex;
            flex-direction: column;

            span {
              &:not(:last-child) {
                margin-bottom: 24px;
              }

              a {
                color: $cr777E90;
                @include fs(14px, 700);

                &:hover {
                  color: rgba($cr777E90, .65)
                }
              }
            }

            p {
              margin-bottom: 24px;
              @include fs(14px, 400);
            }
          }

          &:last-child {
            max-width: 352px;

            .arco-input-inner-wrapper {
              height: 48px;
              padding: 8px 8px 8px 16px;
              border: 2px solid $crE6E8EC;
              background: inherit;
              border-radius: 90px;
            }
          }
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      @include fs(12px, 400);

      small {
        &:first-child {
          color: $cr777E90;
        }

        & > a {
          margin-left: 20px;
        }
      }
    }
  }
}