.xyz-header {
  height: @header;
  position: sticky;
  justify-content: space-between;
  .ac;
  .xyz-content-inner;

  box-shadow: 0 0 4px 0 #eee;

  a {
    .ac;
    .fs(14px, 700);
    height: 32px;
    color: @cr232323;
    padding: 0 20px;
    background: rgb(242, 243, 245);
    border-radius: 6px;

    &:hover, &.active {
      color: white;
      background: @cr232323;
    }
  }

  img {
    width: 120px;
    height: 32px;
    cursor: pointer;
    border-radius: 6px;
    background: @cr232323;
  }

  .arco-input {
    &-search {
      width: 360px;

      input {
        font-weight: 500;
      }

    }

    &-inner-wrapper-focus {
      .colorful;
    }
  }

}