.#{$prefix}-hot-projects {
  background: url($res + 'hot-bg.png') center;
  background-size: 100% 100%;
  cursor: pointer;

  h1 {
    text-align: center;
    padding: 80px 0 50px;
    @include fs(44px, 700);
  }

  &-inner {
    display: flex;
    padding-bottom: 100px;
  }
}