.#{$prefix}-investment-failure {
  color: $cr23262F;
  font-size: 16px;
  text-align: center;
  margin-top: 32px;

  img {
    width: 80px;
    margin-bottom: 32px;
  }
}

.#{$prefix}-investment-complete {
  color: $cr23262F;
  font-size: 16px;

  dt {
    text-align: center;

    h4 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      font-weight: 500;
    }
  }

  dd:nth-of-type(1) {
    padding: 24px;
    margin: 32px 0;
    font-size: 14px;
    border-radius: 12px;
    border: 1px solid $crE4E8EC;
    display: flex;
    justify-content: space-between;

    section {
      display: flex;
      flex-direction: column;

      & > span {
        &:first-child {
          color: $cr777E90;
          margin-bottom: 16px;
        }
      }
    }
  }

  dd:last-child {
    text-align: center;

    div {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        width: 48px;
        height: 48px;
        @include dz();

        &:hover {
          @include xz(360);
        }

        &:nth-of-type(2) {
          margin: 0 16px;
        }

        img {
          display: block;
        }
      }
    }
  }
}

.#{$prefix}-tx-waiting {
  margin-top: 32px;
  display: flex;

  dt {
    img {
      animation: 1s cubic-bezier(0, 0, 1, 1) infinite;

      @include animation-keyframes {
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  dd {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-left: 20px;

    span {
      font-size: 12px;
      color: $cr777E90;
      padding-top: 5px;
    }
  }
}

.#{$prefix}-wallet {
  &-connect {
    margin-top: 20px;
    max-height: 160px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 18px;
    border-radius: 8px;
    overflow-y: auto;
    background-color: rgba($crE6E8EC, .5);
    padding: 8px 0 0 8px;

    button {
      font-weight: normal;
      margin: 0 8px 8px 0;
      color: $cr23262F;
      background-color: $crff;
      height: 36px;
      font-size: 13px;
      padding: 0 8px;
      border-radius: 8px;

      img {
        height: 20px;
        width: 20px;
        margin-right: 8px;
        border-radius: 4px;
      }
    }
  }

  &-tips {
    font-size: 12px;
    color: $cr93989A;
  }
}

.#{$prefix}-investment-confirm {
  &-content {
    color: $cr23262F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 0;

    img {
      width: 120px;
      height: 60px;
      border-radius: 5px;
    }

    .left {
      p {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 18px;
        max-width: 240px;
        @include oneline(1);
      }

      div {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;

        span {
          color: $primary;
          padding-left: 20px;
        }
      }
    }
  }
}