.#{$prefix}-null-wrap {
  @include fCenter();

  img {
    width: 96px;
    height: 83px;
  }

  span {
    margin-top: 18px;
    color: $cr757E92;
    @include fs(14px, 400);
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}