$data-table-prefix-cls: #{$prefix}-data-table;

.#{$data-table-prefix-cls} {
  &-wrap {
    padding-bottom: 32px;

    .load-more {
      text-align: center;
      padding-top: 32px;
    }
  }

  &-header {
    padding: 16px;
    @extend .align-center;
    @include fs(14px, 400);

    span:last-child {
      text-align: right
    }
  }

  &-body {
    .row {
      height: 60px;
      cursor: pointer;
      padding: 0 16px;
      border-radius: 10px;
      background: $crff;
      @include dz();
      @include fs(14px, 400);
      @extend .align-center;

      & {
        .row-content {
          @extend .align-center;

          &:last-child {
            justify-content: flex-end;
          }
        }
      }

      &:hover {
        box-shadow: 1px 17px 44px 0 rgba(3, 2, 43, 0.07);
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}