.#{$prefix}-personal {
  &-tabs {
    &-wrap {
      position: relative;
      padding-top: 50px;
      @extend .web-container;

      button.s {
        position: absolute;
        right: 0
      }
    }

    .react-tabs__tab-list {
      margin-bottom: 30px;
      gap: 12px;
      @include fCenter();

      .react-tabs__tab {
        height: 28px;
        color: $cr777E90;
        cursor: pointer;
        padding: 6px 12px;
        @include dz();
        @include fs(14px, 700);
        @extend .align-center;

        &--selected {
          color: $crff;
          background: $cr353945;
          border-radius: 100px;
        }
      }
    }

    .react-tabs__tab-panel {
    }
  }

  &-my-post,
  &-my-follow,
  &-my-participation {
    position: relative;
    min-height: calc(100vh - 100px - 370px);

    ul {
      color: $cr777E90;
      position: absolute;
      left: -8%;
      top: 18px;
      @include fs(14px, 700);

      li {
        cursor: pointer;
        @include dz();

        &:not(:last-child) {
          margin-bottom: 40px;
        }

        &.active, &:hover {
          color: $cr23262F;
        }
      }
    }

    .row {
      &.disabled {
        .#{$prefix}-tag > img {
          opacity: 0.25
        }
      }

      &-content {
        width: 25%;
        &:last-child{
          button{margin-left: 30px;}
        }
      }
    }

    .#{$prefix}-tag {
      margin-right: 10px
    }

    .#{$prefix}-data-table-header {
      span {
        width: 25%;
      }
    }
  }
}