$post-prefix-cls: #{$prefix}-post;

.#{$post-prefix-cls} {
  padding: 100px 0;

  &-inner {
    display: flex;
    justify-content: space-between;
    @extend .web-container;

    .left {
      width: 600px;

      h1 {
        margin-bottom: 40px;
        @include fs(46px, 700);
      }

      label {
        &.label {
          @include fs(16px, 500);
          margin-bottom: 24px;

          &:first-child {
            margin-bottom: 10px;
          }
        }

        &.label-options {
          color: $crB1B5C3;
          margin-top: 4px;
          margin-bottom: 10px;
          display: inline-flex;
          align-items: flex-start;
          @include fs(12px, 700);

          img {
            cursor: pointer;
            margin-left: 8px
          }
        }
      }

      .layout-options {
        @extend .align-center;

        input {
          flex: 1 1;
          margin-right: 12px
        }

      }

      .upload-tips {
        color: $cr777E90;
        margin-bottom: 16px;
        @include fs(12px, 400);
      }

      .submit-icon {
        width: 12px;
        margin-left: 12px;
      }

      .arco-picker,
      .arco-select {
        width: 300px;
      }

      .arco-icon-delete {
        cursor: pointer;

        &:hover {
          color: $emphasize;
        }
      }

      .arco-divider-horizontal {
        margin: 10px 0 30px;
        border-bottom-color: $crE6E8EC;
      }
    }

  }
}